{
	"name":"DiskFreeBot",
	"tasks": {
		"DiskFreeCheck": {
			"disks": ["C:","D:"],
            "alertLevel":"10%",
            "email":"alert@example.com",
            "dependencies":{
                "SendMail":{
                    "config": {
                        "from":"phutler@example.com"
                    }
                }
            }
		}
	}
}